@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/proximanova-light-webfont.eot');
    src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/proximanova-light-webfont.woff') format('woff'),
        url('../fonts/proximanova-light-webfont.ttf') format('truetype'),
        url('../fonts/proximanova-light-webfont.svg#ProximaNovaLight') format('svg');
    font-weight: 300;
    font-style: normal;
}

body, h1, h2, h3, h4, h5, h6,a { 

    font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

body {
    
    font-size: 16px;
}

.header {
    height: 600px;
    text-align: center;
    padding-top: 50px;
    background:url('../images/branching.png') #92D2DC no-repeat top right; 
}
h1,h2,h3 {

    margin: 0;
}

.header .col-md-8 {
    text-align: left;
}

.header .col-md-8 img {

    margin-top: 80px;
}
.header h1,h2 { 

    font-size: 60px;
    display: block;
    color: #009BFF;
    background-color: #FFFFFF;
    height: 80px;
    line-height: 80px;
    text-transform: uppercase;
    text-align: left;
    padding-left: 20px;
    width: 70%;
    margin-bottom: 5px;
    margin-top: 15px;
    font-weight: bold;
}

.header h2 { 

    height: 50px;
    line-height: 50px;
    width: 250px;
    font-size: 40px;
    margin-top: 0;
    font-weight: normal;
}

.header h3 {

    font-size: 20px;
    color: #FFFFFF;
    text-align: left;
}


.btn-register,
.btn-register:hover {

    background-color: #EE5323;
    border-radius: 50px;
    color: #FFFFFF;
    width: 300px;
    margin-top: 70px;
    font-size: 20px;
    text-transform: uppercase;
}

.speakers {

    background-color: #FAFAFA;
    height: 1050px;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
}

.speakers h5 {

    color: #EE5323;
    font-size: 35px;
    font-weight: bold;
}

.list-inline.images li {

    width: 30%;
    height: 200px;
    border: solid 1px #CCCCCC;
    margin-top: 50px;
    margin-right: 20px;
    padding:0;
    position: relative;
    margin-bottom: 50px;
    overflow: hidden;
}
.list-inline.images li img {

    width: 100%;
    height: auto;
}
.list-inline.images li span {

    display: block;
    background-color: #4E9DAD;
    height: 50px;
    font-size: 14px;
    color: #FFFFFF;
    text-align: left;
    padding-left: 5px;
    position: absolute;
    bottom: 0;
    width: 100%;
    border: solid 1px #4E9DAD;
}

.container .col-md-8 div {

    float: left;
    width: 50%;
    font-size: 18px;
    margin-top: 40px;
}
.container .left {

    border-right: solid 1px #CCCCCC;
    text-align: right;
    padding-right: 20px;
}

.container .right {

    text-align: left;
    padding-left: 20px;
}

.time {

    display: block;
    font-weight: bold;
    font-size: 16px;
}

.container .col-md-8 div li {

    margin-bottom: 20px;
    height: 70px;
}

.checkin {

    font-weight: bold;
    color: #41B4D7;
}

.venue {
    background: url('../images/cc-hub.jpeg') no-repeat top right;
    height: 478px;
}
.location {

    background-color: #46A2AF;
    font-size: 30px;
    color: #FFFFFF;
    padding-left: 25%;
    height: 478px;
}

.location h6 {

    font-weight: bold;
    font-size: 60px;
    display: block;
    margin-top: 40%;
}

.contact {

    background-color: #EE6238;
    text-align: center;
    color: #FFFFFF;
    padding-top: 30px;
    height: auto;
    padding-bottom: 20px;
}